@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

/* BREAKPOINTS - 1600px / 1280px / 1100px / 960px / 650px / 450px /  */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  word-spacing: 0.1rem;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 0.9375rem;
  font-weight: normal;
  color: #616161;
  line-height: 1.9;
}

.page__container {
  height: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

.main-header {
  min-height: 100vh;
  background: linear-gradient(
      27deg,
      rgba(0, 228, 255, 0.9) 0%,
      rgba(78, 9, 121, 0.8) 51%,
      rgba(255, 0, 249, 0.9) 100%
    ),
    url(./images/top/people-work.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  position: relative;
  width: 70%;
  padding: 1rem 0;
  margin: 0 auto 1rem;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

.top__contacts {
  width: 50%;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__login {
  display: flex;
}

.login__img {
  width: 1rem;
  height: 1rem;
}

.contacts__info {
  display: flex;
  fill: white;
}

.contacts__img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

/* .contacts__info:nth-child(1)::before {
  content: "";
  display: inline-block;
  background-image: url(./images/text-bubble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.contacts__info:nth-child(2)::before {
  content: "";
  display: inline-block;
  background-image: url(./images/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.contacts__info:nth-child(3)::before {
  content: "";
  display: inline-block;
  background-image: url(./images/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 15px;
} */

.m-r-15px {
  margin-right: 1rem;
}

.login__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;

  border-radius: 50%;
  background-color: #00aeef;
  fill: white;
  /* background-image: url(./images/cart.svg);
  background-position: center;
  background-repeat: no-repeat; */
}

.login__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  fill: #00aeef;
  /* background-image: url(./images/profile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%; */
}

.top__menu {
  position: relative;
  width: 70%;
  margin: 0 auto 12rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  width: 20%;
  min-width: 12rem;
  height: auto;
}

.menu__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}

.menu__li {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}

.top__desc {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* .top__desc-img {
  position: relative;
  width: 80px;
  height: 90px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./images/top/hexagon.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}

.top__desc-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 90px;

  background-image: url(./images/top/hexagon-1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
} */

.top__desc-img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.desc-img-hex {
  width: 80%;
  position: absolute;
}

.desc-img-hex1 {
  width: 100%;
  position: relative;
}

.desc-img-wheel {
  width: 50%;
  position: absolute;
}

.color-white {
  color: white;
}

.desc__block:nth-child(2) {
  margin: 0 7rem;
}

.desc__block {
  position: relative;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc__block span {
  font-size: 1.7rem;
}

.desc__heading {
  margin-bottom: 2rem;

  font-size: 2.6rem;
  font-weight: 800;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.w-33perc {
  width: 33%;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.top__desc-text {
  font-size: 0.75rem;
  font-weight: 800;
  color: white;
  margin-bottom: 4rem;
}

.desc__button {
  padding: 1.4rem 1.6rem;

  font-size: 0.81rem;
  font-weight: 600;
  color: white;

  background-color: #00aeef;
  border-radius: 5px;
  border: 0.2rem solid white;
  outline: none;
}

.desc__button:hover {
  background-color: #808af7;
}

.desc__button:focus {
  background-color: #ff66ff;
}

.top__socials {
  position: absolute;
  top: 20%;
  left: 6%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials__img {
  width: 2.25rem;
  height: 2.25rem;
  margin: 2rem 0;

  background-size: cover;
  background-repeat: no-repeat;
}

.socials__img:nth-child(1) {
  background-image: url(./images/socials/facebook.svg);
}
.socials__img:nth-child(2) {
  background-image: url(./images/socials/instagram.svg);
}
.socials__img:nth-child(3) {
  background-image: url(./images/socials/twitter.svg);
}
.socials__img:nth-child(4) {
  background-image: url(./images/socials/google.svg);
}

.desc__switcher {
  position: absolute;
  right: -15%;
  top: 54%;
  width: 3.2rem;
  height: 3.2rem;

  font-size: 1.25rem;
  color: white;

  background-color: #090909;
  opacity: 0.2;
  outline: none;
  border: none;
}

.t-70 {
  top: 70%;
}

.boasting__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  margin-left: 0.625rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  fill: white;
}

.boasting__img:nth-child(2) {
  width: 50%;
  height: auto;
  border-radius: 0;
  margin-left: 0;
}

.boasting__img-logo {
  width: 2rem;
  height: 2rem;
}

.bc-blackpurple {
  background-color: #1a1a2b;
}

.bc-purple {
  background-color: #9655c7;
}

.bc-cyan {
  background-color: #00aeef;
}

.bc-limegreen {
  background-color: #86c724;
}

.boasting__article {
  width: 43%;
}

.boasting__wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boasting__block {
  display: flex;
  width: 50%;
  margin: 1rem 0;
}

.boasting__block:nth-child(1) {
  order: 1;
}
.boasting__block:nth-child(2) {
  order: 3;
}
.boasting__block:nth-child(3) {
  order: 2;
}
.boasting__block:nth-child(4) {
  order: 4;
}

.boasting__img-desc {
  width: 65%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boasting__img-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.boasting__img-count {
  font-size: 0.9375rem;
  font-weight: 500;
}

.boasting__desc {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #616161;
  margin-bottom: 1.5rem;
}

.boastin__des:nth-child(2) {
  margin-bottom: 3rem;
}

.boasting__heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.search {
  height: 80%;
  width: 80%;
  background: url(./images/search/geometry-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;

  padding: 6rem 0;
}

.search__section {
  text-align: center;
  color: white;
  background-color: #263545;
}

.search__heading {
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

.search__desc {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 3rem;
  color: white;
}

.search__bar {
  width: 40%;
  min-width: 22rem;
  max-width: 34rem;
  height: 4rem;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-radius: 1500px;
}

.search__bar > input {
  width: 50%;
  margin-right: auto;
  margin-left: 1rem;
  background: none;
  border: none;
  outline: none;

  font-size: 1.2rem;
  color: black;
}

.search__bar > input::placeholder {
  font-size: 0.9375rem;
  font-weight: normal;
  color: #616161;
}

.search__bar > button {
  width: 30%;
  max-width: 8.2rem;
  height: 72%;
  margin: 0.5625rem 0.5625rem 0.5625rem 0;

  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  filter: brightness(1.4);

  border-radius: 1500px;
  border: none;
  outline: none;

  font-size: 1rem;
  color: white;
}

.search__form-img {
  margin-left: 1.25rem;
  width: 1rem;
  height: 1rem;
}

.search__form-checkbox-wrapper {
  width: 23%;
  min-width: 28rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox > input {
  margin-right: 0.6rem;
  width: 1.25rem;
  height: 1.25rem;
  appearance: none;
  background: none;
  outline: none;
  border: 0.125rem solid #00aeef;
}

.checkbox > input:checked::after {
  content: "\2714";
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  font-size: 0.875rem;
  color: white;
}

.how__section {
  text-align: center;
}

.how__section > p {
  font-size: 0.9375rem;
  font-weight: normal;
  color: #616161;
}

.how__heading {
  font-size: 1.875rem;
  color: #333333;
  margin-bottom: 2rem;
}

.p-t-118px {
  padding-top: 7rem;
}

.how__desc {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4.3rem;
}

.how__card {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.how__card-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1.5rem;
}

.how__wrapper {
  margin: 0 auto;
  width: 70%;
  position: relative;
}

.how__card-wrapper {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.how__img {
  width: 4.43rem;
  height: 4.43rem;
  margin-bottom: 2rem;
  border: 0.1875rem dotted #00aeef;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  color: #00aeef;
  background: white;
}

.color-gradient-bluetopink {
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  filter: brightness(1.4);

  color: white;
  border: none;
  z-index: 1;
}

.dotted-line {
  position: absolute;
  z-index: -1;
  top: 2.1875rem;
  left: 12.5%;
  width: 75%;
  height: 1px;
  border-top: 0.187rem dotted #00aeef;
}

.how__card-desc {
  margin-bottom: 7rem;
}

.what__section {
  text-align: center;
  background-color: #f9f9f9;
}

.w-35perc {
  width: 35%;
}

.w-50perc {
  width: 50%;
}

.m-center {
  margin: 0 auto;
}

.what__wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7rem;
}

.what__wrapper-card {
  width: 25%;
  text-align: center;
  border-right: 0.187rem dotted #00aeef;
}

.what__wrapper-card:nth-child(4) {
  border: none;
}

.what__wrapper-card > p {
  width: 80%;
  margin: 0 auto 3rem;
}

.what__img {
  margin-bottom: 2rem;
  width: 4.16rem;
  height: 4.16rem;
}

.what__img:nth-child(1) {
  width: 4.5rem;
}

.what__title {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.what__desc {
  margin-bottom: 4.5rem;
}

.what__heading {
  padding-top: 7rem;
  margin-bottom: 2rem;
}

.package__content {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.package__card-img {
  width: 100%;
  height: 100%;
  min-width: 10rem;

  position: relative;
  top: 0;
  left: 0;
}

.package__price {
  position: absolute;
  color: white;
  font-size: 3rem;
  padding-top: 1rem;
}

/* .package__card-img {
  width: 215px;
  height: 151px;
  padding-top: 10px;
  background-image: url(./images/package/cloud3.svg);
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
  font-weight: bold;
  color: white;
} */

.package__img {
  width: 45%;
  height: auto;
}

.package__wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.package__wrapper-card {
  width: 45%;
}

.package__wrapper-card > p {
  margin: 3rem 0;
  text-align: center;
  /* word-spacing: 1px; */
}

.package__heading {
  text-align: center;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

.package__desc {
  width: 38%;
  margin: 0 auto 5rem;
  text-align: center;
}

.package__list {
  width: 67%;
  list-style: "\2714";
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.package__item {
  width: 48%;
  padding-left: 0.625rem;
  margin-bottom: 1.75rem;
}

.m-b-0 {
  margin-bottom: 0px;
}

.package__title {
  margin-bottom: 2rem;
}

.package__button {
  display: block;
  padding: 0.625rem 1.25rem;
  background: none;
  border-radius: 5px;
  border: 1px solid #00aeef;
  font-size: 0.9375rem;
  color: #00aeef;
  outline: none;
}

.package__button:hover {
  border-color: #808af7;
}

.package__button:focus {
  border-color: #ff66ff;
}

.tab {
  padding-top: 2rem;
}

.package__tab-btn {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  outline: none;
  background: none;
  border: 0.187rem solid #00aeef;
}

/* .package__tab#first {
  bottom: 0;
  left: 1%;
}

.package__tab#second {
  bottom: 0;
  left: 3%;
}

.package__tab#third {
  bottom: 0;
  left: 5%;
} */

.package__tab-btn:focus {
  background: #00aeef;
}

.package__tab-btn-active {
  background: #00aeef;
}

#package-content-1 {
  pointer-events: all;
}

#package-content-2 {
  opacity: 0;
  pointer-events: none;
  position: relative;
}

#package-content-3 {
  opacity: 0;
  pointer-events: none;
}

.web__section {
  position: relative;
  width: 55%;
  margin: 0 auto;
  max-width: 1000px;
}

.web__heading {
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 7rem;
}

.web__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web__tab-btn {
  width: 16.5%;

  font-size: 0.9375rem;
  font-weight: 600;
  color: #333333;

  background-color: #f9f9f9;

  outline: none;
  border-radius: 4px;
  border: none;

  padding: 1.5rem 0;
  margin-bottom: 3rem;
}

.web__tab-btn:focus {
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  filter: brightness(1.4);

  color: white;
}

.web__tab-btn-active {
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  filter: brightness(1.4);

  color: white;
}

.web__tab-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 1s;
}

.web__tab-content-wrapper {
  position: relative;
  margin-bottom: 7rem;
}

.web__tab-wrapper {
  width: 65%;
}

.web__tab-img {
  width: 30%;
}

.web__tab-title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#web-tab-content-1 {
  opacity: 1;
  pointer-events: all;
}

#web-tab-content-2 {
  opacity: 0;
  pointer-events: none;
}

#web-tab-content-3 {
  opacity: 0;
  pointer-events: none;
}

#web-tab-content-4 {
  opacity: 0;
  pointer-events: none;
}

#web-tab-content-5 {
  opacity: 0;
  pointer-events: none;
}

#web-tab-content-6 {
  opacity: 0;
  pointer-events: none;
  position: relative;
}

.builder__section {
  width: 100%;
  display: flex;
  padding-top: 7rem;
}

.builder__img {
  width: 50%;
  background-image: url(./images/builder/dudelookingatthedesc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.builder__gradient-block {
  width: 50%;
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  filter: brightness(1.4);
}

.builder__info {
  max-width: 960px;
}

.builder__wrapper {
  padding: 5rem 0 5rem 7rem;
  width: 65%;
}

.builder__desc {
  color: white;
}

.builder__heading {
  color: white;
  margin-bottom: 2rem;
}

.stats__section {
  text-align: center;
  background: linear-gradient(
      27deg,
      rgba(0, 228, 255, 0.9) 0%,
      rgba(78, 9, 121, 0.8) 51%,
      rgba(255, 0, 249, 0.9) 100%
    ),
    url(./images/stats/wires-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
}

.stats__wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 11rem 0;
  max-width: 1920px;
}

.stats__block {
  width: 15%;
  color: white;
}

.stats__block-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.stats__block-cloud {
  position: relative;
  width: 52%;
  max-height: 5rem;
}

.stats__block-img-2 {
  position: absolute;
  width: 18%;
  margin-top: 4%;
}

.stats__block-number {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.reviews__section {
  text-align: center;
}

.reviews__tab {
  width: 911px;
  margin: 0 auto 12px;
  position: relative;

  display: flex;

  flex-direction: column;
  align-items: center;

  /* background-image: url(./images/reviews/arc.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

.reviews__arc {
  position: absolute;
  width: 882px;
  height: 296px;
  pointer-events: none;
}

.reviews__customer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  justify-self: flex-start;
}

#customer-1 {
  bottom: -8%;
  left: -1.5%;
}

#customer-2 {
  top: 18%;
  left: 15%;
}

#customer-3 {
  top: -8%;
}

#customer-4 {
  top: 18%;
  right: 15%;
}

#customer-5 {
  bottom: -8%;
  right: -1.5%;
}

.reviews__heading {
  margin-bottom: 64px;
}

.customer__name {
  padding-top: 100px;
  margin-bottom: 8px;

  text-transform: none;
  font-size: 17px;
  font-weight: 700;
}

.customer__job {
  font-size: 15px;
  margin-bottom: 48px;
}

.reviews__desc {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}

.reviews__quote {
  display: block;
  padding-top: 24px;
  font-family: Public Sans;
  font-size: 90px;
  line-height: 24px;
  background: -webkit-linear-gradient(
    27deg,
    rgba(0, 228, 255, 0.9) 0%,
    rgba(78, 9, 121, 0.8) 51%,
    rgba(255, 0, 249, 0.9) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(1.4);
}

.reviews__btn-wrapper {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.reviews__btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff) padding-box
      /* Don't extend this to border */,
    linear-gradient(to right, #00e4ff, #4e0979 51%, #ff00f9) border-box;
  outline: none;
  border: dotted 1px white;
}

#reviews__btn-2 {
  margin: 0 16px;
}

.reviews__btn:focus {
  position: relative;

  width: 21px;
  height: 21px;
  background: linear-gradient(#fff, #fff) padding-box
      /* Don't extend this to border */,
    linear-gradient(to right, #00e4ff, #4e0979 51%, #ff00f9) border-box;
  border: dotted 1px white;
}

.reviews__btn:focus::after {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  top: 3px;
  left: 3px;
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 0.9) 0%,
    rgba(78, 9, 121, 0.8) 51%,
    rgba(255, 0, 249, 0.9) 100%
  );
  border-radius: 50%;
}

.news__section {
  background-color: #f9f9f9;
}

.news__wrapper {
  width: 70%;
  max-width: 1344px;
  margin: 0 auto;
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
}

.news__tab {
  width: 32%;
  background-color: white;
}

.news__head-img {
  display: flex;
  margin-bottom: 2rem;
}

.news__img {
  width: 100%;
  height: 277px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#news-img-1 {
  background-image: url(./images/news/dudesmilin.png);
}

#news-img-2 {
  background-image: url(./images/news/dudetalkin.png);
}

#news-img-3 {
  background-image: url(./images/news/dudesittin.png);
}

.news__date {
  width: 5rem;
  height: 2.5rem;
  margin: 0 0 1rem 1rem;

  background-color: #00aeef;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 600;
  color: white;
}

.news__writer {
  margin: 0 0 1rem 1.5rem;

  font-size: 0.9375rem;
  color: #616161;
}

.news__title {
  display: flex;
  width: 85%;
  margin: 0 0 1rem 1.5rem;

  font-size: 1.1rem;
  color: black;
}

.news__desc {
  width: 75%;
  margin: 0 0 0 1.5rem;
  padding: 2rem 0;
  border-top: 1px solid #ededed;

  font-size: 0.875rem;
}

.news__read {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 2rem;
  margin: 0 5rem 2rem 1.5rem;

  background-color: #f9f9f9;

  font-size: 0.875rem;
  font-weight: 600;
  color: #00aeef;
}

.news__read:hover {
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(78, 9, 121, 1) 51%,
    rgba(255, 0, 249, 1) 100%
  );
  color: white;
}

.news__comments {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 3.7rem;
  height: 2rem;
  margin-right: 0.5rem;

  background-color: #f9f9f9;
}

.news__comments::before {
  content: "";
  position: relative;
  display: block;
  width: 0.875rem;
  height: 0.75rem;
  background-image: url(./images/news/speech-bubble.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.news__share {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  background-color: #f9f9f9;
  background-image: url(./images/news/share.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe__section {
  background: linear-gradient(
    27deg,
    rgba(0, 228, 255, 0.9) 0%,
    rgba(78, 9, 121, 0.8) 51%,
    rgba(255, 0, 249, 0.9) 100%
  );
  height: 500px;
}

.subscribe__wrapper {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.subscribe__form {
  display: block;
  width: 40%;
  margin-left: 20%;
}

.subscribe__bar {
  width: 100%;
  display: flex;
}

.subscribe__form-email {
  width: 65%;
  padding: 1.5rem 0 1.5rem 2rem;
  font-size: 0.9275rem;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscribe__form-email::placeholder {
  color: rgb(43, 43, 43);
  font-family: Open-Sans;
  letter-spacing: 0.1rem;
}

.subscribe__form-btn {
  width: 35%;
  outline: none;
  border: none;
  padding: 1.5rem 0 1.5rem;
  background-color: #00aeef;
  font-size: 1.125rem;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  letter-spacing: 0.1rem;
}

.subscribe__heading {
  color: white;
  margin-bottom: 2rem;
}

.subscribe__desc {
  color: white;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
  font-size: 0.8125rem;
}

.live-chat {
  height: 450px;
  width: 20%;
  position: absolute;
  left: 65%;
  top: 275px;

  background: white;
  text-align: center;

  box-shadow: 0 1px 2px 4px #f6f6f6, -1px 0 2px 4px #f6f6f6,
    1px 0 2px 4px #f6f6f6;
}

.live-chat__img {
  width: 4rem;
  height: 4rem;
  margin: 3rem auto 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #00aeef;
}

.live-chat__img-phone {
  width: 35%;
}

.live-chat__heading {
  margin-bottom: 1.5rem;
}

.live-chat__title {
  margin-bottom: 2rem;
}

.live-chat__number {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.live-chat__btn {
  color: white;
  font-size: 1.25rem;
  padding: 1.125rem;
  background-color: #00aeef;
}

.sponsors__section {
  background-color: white;
}

.sponsors__wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.sponsors__img-wrapper {
  width: 45%;
  margin-left: 17%;
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.sponsors__img {
  margin: 0 auto;
}

.sponsors__btn-wrapper {
  width: 20%;
  margin-left: 29%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.sponsors__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.75rem;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
}

#sponsors__btn-1 {
  background-color: #f6f6f6;
  color: #00aeff;
}

#sponsors__btn-2 {
  color: #f6f6f6;
  background-color: #00aeef;
  opacity: 0.24;
}

@media (max-width: 1600px) {
  html {
    font-size: 13px;
  }

  .news__read {
    margin: 0 2rem 2rem 1.5rem;
  }
}

@media (max-width: 1279px) {
  html {
    font-size: 12px;
  }

  .top__menu {
    margin: 0 auto 2rem;
  }

  .top__contacts {
    width: 60%;
  }

  .desc__block span {
    font-size: 1.5rem;
  }

  .news__wrapper {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .reviews__tab {
    width: 683px;
    margin: 0 auto 9px;
  }

  .reviews__arc {
    width: 661px;
    height: 222px;
  }

  .reviews__customer {
    width: 60px;
    height: 60px;
  }

  .reviews__heading {
    margin-bottom: 48px;
  }

  .customer__name {
    padding-top: 75px;
    margin-bottom: 6px;
  }

  .customer__job {
    font-size: 11px;
    margin-bottom: 48px;
  }

  .reviews__desc {
    width: 70%;
    font-size: 10px;
  }

  .reviews__quote {
    padding-top: 18px;
    font-size: 67px;
    line-height: 18px;
  }

  .reviews__btn-wrapper {
    height: 16px;
  }

  .reviews__btn {
    width: 12px;
    height: 12px;
  }

  #reviews__btn-2 {
    margin: 0 12px;
  }

  .reviews__btn:focus {
    width: 15px;
    height: 15px;
  }

  .reviews__btn:focus::after {
    content: "";
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
  }

  .web__section {
    width: 80%;
  }

  .web__tab-wrapper {
    width: 100%;
  }

  .web__tab-img {
    width: 50%;
    margin: 2rem auto 0;
  }

  .web__tab-content {
    flex-wrap: wrap;
  }
}

@media (max-width: 969px) {
  html {
    font-size: 12px;
  }

  .top__menu {
    margin: 0 auto 2rem;
  }

  .top__contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .contacts__info:nth-child(3) {
    margin-bottom: 0;
  }

  .top__login {
    display: flex;
    align-items: center;
  }

  .menu__ul {
    width: 13%;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    display: none;
  }

  .menu__li {
    margin: 0 auto 0.5rem;
  }

  .menu__logo {
    margin: 0 auto;
  }

  .top__socials {
    width: 47%;
    top: -40%;
    left: 32.5%;
    justify-content: space-between;
    flex-direction: row;
  }

  .socials__img {
    margin: 1rem 0;
  }

  .t-70 {
    top: 54%;
    left: -15%;
  }

  .desc__block {
    width: 19%;
  }

  .desc__block:nth-child(2) {
    margin: 0 3rem;
  }

  .boasting__wrapper {
    flex-wrap: wrap;
  }

  .boasting__article {
    width: 100%;
    text-align: center;

    order: 2;
  }

  .boasting__img:nth-child(2) {
    width: 100%;
    order: 1;
    margin-bottom: 2rem;
  }

  .search__bar {
    width: 70%;
  }

  .how__card {
    flex-wrap: wrap;
  }

  .how__card-wrapper {
    width: 100%;
  }

  .how__desc {
    width: 70%;
  }

  .how__card-desc {
    width: 50%;
    margin-bottom: 3rem;
  }

  .dotted-line {
    display: none;
  }

  .what__desc {
    width: 50%;
    margin-bottom: 4rem;
  }

  .what__wrapper {
    flex-wrap: wrap;
    padding-bottom: 4rem;
  }

  .what__wrapper-card {
    width: 100%;
    border-right: none;
    border-bottom: 0.187rem dotted #00aeef;
    margin-bottom: 2rem;
  }

  .package__desc {
    width: 60%;
  }

  .package__img {
    display: none;
  }

  .package__wrapper-card {
    width: 100%;
  }

  .package__wrapper-card-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .package__wrapper-card-wrapper > .wrapper {
    width: 100%;
    max-width: 18rem;
    margin-bottom: 2rem;
  }

  .package__title {
    text-align: center;
  }

  .package__list {
    width: 100%;
  }

  .package__item {
    text-align: center;
  }

  .package__price {
    font-size: 5rem;
  }

  .package__button {
    margin: 0 auto;
  }

  .builder__wrapper {
    width: 100%;
    padding: 5rem 1rem;
  }

  .stats__wrapper {
    width: 90%;
  }

  .stats__block {
    width: 20%;
    text-align: center;
  }

  .reviews__customer {
    width: 80px;
    height: 80px;
  }

  #customer-1 {
    display: none;
    opacity: 0;
  }

  #customer-2 {
    display: none;
    opacity: 0;
  }

  #customer-3 {
    top: -8%;
  }

  #customer-4 {
    display: none;
    opacity: 0;
  }

  #customer-5 {
    display: none;
    opacity: 0;
  }

  .reviews__arc {
    display: none;
  }

  .reviews__tab {
    width: 100%;
  }

  .news__read {
    margin-right: 1rem;
  }

  .news__wrapper {
    flex-wrap: wrap;
  }

  .news__tab {
    width: 49%;
    margin-bottom: 2rem;
  }

  .news__tab:nth-child(3) {
    margin: 0 auto;
  }

  .news__read {
    margin-right: 3rem;
  }

  .subscribe__form {
    width: 60%;
    margin-left: 5%;
  }

  .live-chat {
    left: 68%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .live-chat__img {
    margin-top: 0;
  }

  .sponsors__img-wrapper {
    width: 60%;
    margin-left: 5%;
  }

  .sponsors__btn-wrapper {
    margin-left: 26%;
  }
}

@media (max-width: 650px) {
  .top__socials {
    width: 23%;
    top: -42%;
    left: 51.5%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__info {
    font-size: 1rem;
  }

  .socials__img {
    margin: 0.5rem 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  .web__tab-btn {
    width: 33%;
    margin-bottom: 1rem;
  }

  .web__btn-wrapper {
    flex-wrap: wrap;
  }

  .web__tab-title {
    padding-top: 1rem;
  }
  .builder__wrapper {
    padding: 2rem 1rem;
  }

  .builder__img {
    display: none;
  }

  .builder__gradient-block {
    width: 100%;
    background: linear-gradient(
      29deg,
      rgba(78, 9, 121, 1) 0%,
      rgba(78, 9, 121, 1) 40%,
      rgba(255, 0, 249, 1) 100%
    );
  }

  .web__tab-desc {
    text-align: justify;
  }

  .reviews__desc {
    width: 90%;
  }

  .news__tab {
    width: 60%;
    margin: 0 auto 2rem;
  }

  .news__read {
    margin: 0 1rem 1rem;
    display: flex;
  }

  .news__share {
    display: inline-flex;
  }

  .news__comments {
    display: inline-flex;
    margin: 0 1rem 1rem 1rem;
  }

  .news__img {
    height: 150px;
  }

  .subscribe__form {
    width: 90%;
  }

  .live-chat {
    width: 90%;
    height: 200px;
    left: 5%;
    top: 400px;
  }

  .live-chat__heading {
    margin: 0;
  }

  .live-chat__img {
    margin: 0;
  }

  .live-chat__number {
    margin: 0;
  }

  .live-chat__title {
    margin: 0;
  }

  .sponsors__img-wrapper {
    width: 90%;
    padding-top: 11rem;
  }

  .sponsors__btn-wrapper {
    margin-left: 40%;
  }
}

@media (max-width: 450px) {
  .desc__block span {
    font-size: 1rem;
  }

  .contacts__info {
    font-size: 0.7rem;
  }

  .search__form-checkbox-wrapper {
    width: 100%;
    min-width: 1rem;
    font-size: 0.7rem;
  }

  .desc__heading {
    font-size: 2rem;
  }

  .search__bar {
    min-width: 19rem;
  }

  .socials__img {
    width: 1rem;
    height: 1rem;
  }

  .package__desc {
    width: 90%;
  }

  .package__wrapper {
    width: 90%;
  }

  .web__tab-btn {
    width: 49%;
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding: 1rem 0;
  }

  .stats__wrapper {
    width: 100%;
    flex-wrap: wrap;
    padding: 11rem 0 9rem;
  }

  .stats__block {
    width: 49%;
    margin-bottom: 2rem;
  }
}
